@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');


html, body {
  height: 100%;
  width: 100%;
font-family: 'Arima', cursive;
font-family: 'Roboto', sans-serif;
}
.sidebar{
  background-color: skyblue;
  width: 434px ;
      padding: 12px;
      height: 101vh ;
}
.sidebar a {
  text-decoration: none;  
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
  display: flex;

}
.nav{
      font-size: 27px;
    font-family: monospace;
}
.title{
    font-size: 29px;
    font-family: cursive;
}
.infocontainer{
  display: flex;
  background-color: grey;
  width: 81vw;
  height: 101vh;
  justify-content: space-around;
  margin: 1px auto;

}

.pic img{
  height: 22vw;
  border-radius: 50%;
  margin: 46px;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 26px;
}
.hello{
  font-size: 70px;
font-family: 'Source Sans Pro', sans-serif;

}
.name{
  font-size: 58px;
  font-weight: bold;
}
.about{
  font-size: 50px;
  
}
.button button{
  padding: 11px;
  border-radius: 19px;
  border-color: black;
  background-color: rgb(92, 189, 92);
  margin: 0 3px;
  cursor: pointer;
}
  .button button:hover{
background-color: aliceblue;
color: black;
  }

.card h2{
  text-align: center;
}
 
.row{
  margin: 10px;
}
.col{
  padding: 7px 5px 10px;
}
.card{
  background-color: lightpink;
  width: 81vw;
  height: 101vh;
  margin: 1px auto;
  padding: 10px;


}
.row{
  font-size: inherit;
  font-weight: bold;
  border-color: black;
}
.col button{
  padding: 12px;
  background-color: skyblue;
  border-radius: 9px;
}
